## Data Incubator Technical ##

## Section 2

This notebook includes the code that I use to answer

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('PartD_Prescriber.csv')

In [59]:
df.shape

(1048575, 84)

In [24]:
df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148

In [191]:
df.describe().transpose().head()

,count,mean,std,min,25%,50%,75%,max
npi,1048575.0,1.450957e+09,2.598491e+08,1.003000e+09,1.225209e+09,1.457318e+09,1.679695e+09,1.902149e+09
nppes_provider_zip5,1048531.0,4.814860e+04,3.023871e+04,0.000000e+00,2.121800e+04,4.512100e+04,7.671200e+04,9.992900e+04
nppes_provider_zip4,906864.0,3.795123e+03,2.254502e+03,0.000000e+00,2.056000e+03,3.355000e+03,5.165000e+03,9.999000e+03
total_claim_count,1048575.0,1.283889e+03,3.093218e+03,1.100000e+01,5.500000e+01,2.030000e+02,9.970000e+02,4.472880e+05
total_30_day_fill_count,1048575.0,1.996020e+03,4.681134e+03,1.100000e+01,6.400000e+01,2.413000e+02,1.399000e+03,4.479605e+05

In [18]:
df.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip5', 'nppes_provider_zip4',
       'nppes_provider_state', 'nppes_provider_country',
       'specialty_description', 'description_flag',
       'medicare_prvdr_enroll_status', 'total_claim_count',
       'total_30_day_fill_count', 'total_drug_cost', 'total_day_supply',
       'bene_count', 'ge65_suppress_flag', 'total_claim_count_ge65',
       'total_30_day_fill_count_ge65', 'total_drug_cost_ge65',
       'total_day_supply_ge65', 'bene_count_ge65_suppress_flag',
       'bene_count_ge65', 'brand_suppress_flag', 'brand_claim_count',
       'brand_drug_cost', 'generic_suppress_flag', 'generic_claim_count',
       'generic_drug_cost', 'other_suppress_flag', 'other_claim_count',
       'other_drug_cost', 'mapd_suppress_flag', 'mapd_claim_count',
       'mapd_drug_cost', 'pdp_suppress_flag', 'pdp_claim_count',
       'pdp_drug_cost', 'lis_suppress_flag', 'lis_claim_count',
       'lis_drug_cost', 'nonlis_suppress_flag', 'nonlis_claim_count',
       'nonlis_drug_cost', 'opioid_claim_count', 'opioid_drug_cost',
       'opioid_day_supply', 'opioid_bene_count', 'opioid_prescriber_rate',
       'la_opioid_claim_count', 'la_opioid_drug_cost', 'la_opioid_day_supply',
       'la_opioid_bene_count', 'la_opioid_prescriber_rate',
       'antibiotic_claim_count', 'antibiotic_drug_cost',
       'antibiotic_bene_count', 'antipsych_ge65_suppress_flag',
       'antipsych_claim_count_ge65', 'antipsych_drug_cost_ge65',
       'antipsych_bene_ge65_suppress_flg', 'antipsych_bene_count_ge65',
       'average_age_of_beneficiaries', 'beneficiary_age_less_65_count',
       'beneficiary_age_65_74_count', 'beneficiary_age_75_84_count',
       'beneficiary_age_greater_84_count', 'beneficiary_female_count',
       'beneficiary_male_count', 'beneficiary_race_white_count',
       'beneficiary_race_black_count', 'beneficiary_race_asian_pi_count',
       'beneficiary_race_hispanic_count', 'beneficiary_race_nat_ind_count',
       'beneficiary_race_other_count', 'beneficiary_nondual_count',
       'beneficiary_dual_count', 'beneficiary_average_risk_score'],
      dtype='object')

In [101]:
df_brandclaim = df[(df['brand_claim_count'].isnull()== False)]

In [109]:
df_brandclaim = df_brandclaim[df_brandclaim['brand_claim_count'] >=1000]

In [175]:
df_branclaim = df_branclaim.groupby('specialty_description').sum()

In [188]:
df_branclaim['brand_claim_count'].std()

7054356.125041294

In [168]:
df_ge65 = df[(df['total_claim_count_ge65'].isnull() == False) & (df['lis_claim_count'].isnull() == False)]

In [194]:
len(df_ge65)

752885

In [189]:
#df_ge65.corr(method='pearson')['lis_claim_count']

In [166]:
df['lis_claim_count'].unique()

array([  305.,  1184.,    nan, ..., 18998., 12797., 12266.])

In [105]:
#df_brandclaimgroupe = df_brandclaim.groupby('specialty_description')

In [190]:
df_brandclaim.head(3)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
16,1003000902,LOHANO,JAIVANTI,NaN,MD,F,I,2215 PORTLAND AVE,NaN,LOUISVILLE,...,119.0,389.0,NaN,NaN,NaN,NaN,NaN,269.0,151.0,1.4850
46,1003002817,IGLESIAS,NAYVIS,NaN,MD,F,I,3650 NW 82ND AVE,SUITE 502,DORAL,...,489.0,46.0,NaN,0.0,992.0,0.0,NaN,244.0,811.0,1.9400
70,1003004540,CABANELLAS,JENNINE,M,MD,F,I,2889 10TH AVE N,SUITE 306,PALM SPRINGS,...,474.0,285.0,350.0,19.0,454.0,0.0,33.0,524.0,617.0,1.4339

In [27]:
len(df['bene_count_ge65'].unique())

1826

In [122]:
df_length = df['total_day_supply']/df['total_claim_count']

In [123]:
df_length = pd.DataFrame(df_length)
df_length.describe()

                  0
count  1.048575e+06
mean   3.084154e+01
std    1.793332e+01
min    1.000000e+00
25%    1.540741e+01
50%    2.971429e+01
75%    4.251160e+01
max    2.558667e+02

In [124]:
df_length.median()

0    29.714286
dtype: float64

In [135]:
df_state = df.groupby(['nppes_provider_state'], as_index=False).sum()
df_state.head()

,nppes_provider_state,npi,nppes_provider_zip5,nppes_provider_zip4,total_claim_count,total_30_day_fill_count,total_drug_cost,total_day_supply,bene_count,total_claim_count_ge65,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,AA,30458025375,1196986.0,16998.0,1867,1965.0,6.609807e+04,30313,937.0,887.0,...,321.0,377.0,42.0,0.0,37.0,0.0,0.0,279.0,275.0,22.4439
1,AE,119705323346,1002339.0,99861.0,24762,37797.9,2.507530e+06,983284,5571.0,16335.0,...,2032.0,2306.0,422.0,0.0,84.0,0.0,0.0,2545.0,1676.0,91.5883
2,AK,3245742870790,222602718.0,9525465.0,1115964,1642154.4,1.267632e+08,42203654,123133.0,722681.0,...,45931.0,60856.0,2195.0,3528.0,1559.0,6051.0,216.0,52446.0,47242.0,2648.0662
3,AL,18873626090219,464599270.0,39406770.0,25811933,39366161.5,2.495422e+09,1094208699,2515953.0,18553487.0,...,964336.0,1623924.0,312766.0,486.0,4337.0,790.0,447.0,1637273.0,767942.0,17498.2233
4,AP,77044356739,4718325.0,138185.0,15545,25058.1,1.073538e+06,634231,3797.0,10594.0,...,1306.0,2093.0,178.0,0.0,80.0,0.0,0.0,2262.0,1040.0,65.6958

In [136]:
df_ratio = df_state['opioid_claim_count']/df_state['antibiotic_claim_count']

In [162]:
float(df_ratio.sort_values(ascending=False).head(1))-float(df_ratio.sort_values(ascending=True).head(1))

1.5706326886889168

In [197]:
df_cost = df[(df['total_drug_cost'].isnull() == False) & (df['total_day_supply'].isnull() == False)]

In [200]:
len(df_cost)

1048575

In [201]:
df_cost = df['total_drug_cost']/df['total_day_supply']

In [210]:
df_cost.mean()

4.205386421855386

In [211]:
df_16 = pd.read_csv('PartD_Prescriber_16.csv')

In [212]:
df_16.head(3)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,80.0,153.0,NaN,0.0,NaN,0.0,NaN,102.0,68.0,2.1950
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,88.0,159.0,54.0,NaN,NaN,0.0,NaN,108.0,117.0,1.8032
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,12.0,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0949

In [213]:
df_16.shape

(1048575, 84)

In [214]:
df_16cost = df_16[(df_16['total_drug_cost'].isnull() == False) & (df_16['total_day_supply'].isnull() == False)]['total_drug_cost']

In [216]:
df_16cost = df_16['total_drug_cost']/df_16['total_day_supply']

In [218]:
df_cost.mean()/df_16cost.mean()

1.0117855495951904

In [238]:
df_special16 = df_16.groupby(['specialty_description']).agg(['count'])

In [239]:
df_special16 = df_special16[df_special16['npi']['count'] >=1000]

In [240]:
df_special17 = df.groupby(['specialty_description']).agg(['count'])

In [241]:
df_special17 = df_special17[df_special17['npi']['count'] >=1000]

In [246]:
diff_npicount = df_special16['npi'] - df_special17['npi']

In [249]:
diff_npicount.sort_values(by='count')

                                                      count
specialty_description
Nurse Practitioner                                 -11462.0
Obstetrics & Gynecology                             -4374.0
Physician Assistant                                 -3273.0
Student in an Organized Health Care Education/T...   -935.0
Pharmacist                                           -377.0
...                                                     ...
Clinical Cardiatric Electrophysiology                   NaN
Hospitalist                                             NaN
Obstetrics/Gynecology                                   NaN
Oral Surgery (Dentist only)                             NaN
Oral Surgery (Dentists only)                            NaN

[62 rows x 1 columns]

In [282]:
x = []

In [288]:
uarray = np.random.choice(np.arange(1, 9), replace=False, size=(1, 8))

In [289]:
uarray

8

In [283]:
x.append(uarray)

## Section 3

### The calculation that generate the number of possible orders of coin withdrawals for the cases where N >=8, I found that it is taking longer time than expected (did not converge) in my machine. Instead I present my result for the case of N=7. Additionally, I used payment = 25 for evaluation of the probablity of payments, where it would been 45, if I had converged for N=10.

In [341]:
import random
import math

In [340]:
N = 7
x = []
while(len(x)!=math.factorial(N)):
    i = random.sample(range(1,N+1),N)
    if i in x:
        continue
    else:
        x.append(i)
#print(x)

In [342]:
pay_list = []
for i in range(len(x)):
    sum1 = x[i][0]
    for j in range(0,N-1):
        sum1+=abs(x[i][j]-x[i][j+1])
        
    pay_list.append(sum1)
    
payment = np.array(pay_list)

In [343]:
payment.mean()

20.0

In [344]:
payment.std()

3.6514837167011076

In [345]:
#transfer the numpy array to dataframe for probablity analysis
df_pay = pd.DataFrame(payment)

In [346]:
#The probablity that the payment is greater than some value
df_pay[df_pay>25].count()/len(df_pay)

0    0.061905
dtype: float64